PAYFAST_MODE=sandbox
PAYFAST_MERCHANT_ID=10048244
PAYFAST_MERCHANT_KEY=2nritgh2juggd
PAYFAST_PASSPHRASE=
PAYFAST_PROCESS_URL=https://sandbox.payfast.co.za/eng/process
PAYFAST_RETURN_URL=https://campus-food-ordering.pages.dev/payment-success.html
PAYFAST_CANCEL_URL=https://campus-food-ordering.pages.dev/payment-cancelled.html
PAYFAST_NOTIFY_URL=https://campus-food-ordering.pages.dev/api/payfast/notify